<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/include/head :: head"></head>
<body>
<div class="container_12">
    <div th:replace="/admin/include/header :: header"></div>
    <div class="clear"></div>
    <div th:replace="/admin/include/header :: navbar"></div>
    <div class="clear"></div>
    <div th:replace="/admin/include/sidebar :: sidebar"></div>
    <div class="grid_10">
        <div class="box round first grid">
            <h2>Thêm danh mục</h2>
            <div class="block copyblock mb-25">
                <span class="mb-25">
                    <span th:if="${error}" th:text="${error}" style="color: red;"></span>
                    <span th:if="${success}" th:text="${success}" style="color: green;"></span>
                </span>
                <form th:action="@{/admin/catadd}" th:object="${category}" method="post">
                    <table class="form">
                        <tr>
                            <td>
                                <label>Tên danh mục</label>
                            </td>
                            <td>
                                <input th:field="*{catname}" type="text" placeholder="Thêm danh mục..." class="medium" required/>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Trạng thái</label></td>
                            <td>
                                <div style="display: inline-block; margin-right: 10px;">
                                    <input th:field="*{catstatus}" type="radio" id="status1" value="true">
                                    <label for="status1">Hiển thị</label>
                                </div>
                                <div style="display: inline-block;">
                                    <input th:field="*{catstatus}" type="radio" id="status2" value="false">
                                    <label for="status2">Ẩn</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" name="submit" value="Thêm" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <h2 class="">Danh sách danh mục</h2>

			<div class="block">        
				<table class="data display datatable" id="example">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>ID</th>
                            <th>Tên danh mục</th>
                            <th>Trạng thái</th>
                            <th>Tùy chỉnh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" th:each="Category, count : ${list}">
                            <td th:text="${count.count}"></td>
                            <td th:text="${Category.id}"></td>
                            <td th:text="${Category.catname}"></td>
                            <td th:text="${Category.catstatus} ? 'Đang hiển thị'  : 'Không hiển thị'"></td>
                            <td><a th:href="@{/admin/catedit/{id}(id=${Category.id})}">Sửa</a> || <a th:href="@{/admin/catdel/{id}(id=${Category.id})}" onclick="return confirm('Bạn có chắc muốn xóa?')" >Xóa</a></td>
                        </tr>
                    </tbody>
			    </table>
			</div>
        </div>
    </div>
    <script type="text/javascript">
		$(document).ready(function () {
			setupLeftMenu();

			$('.datatable').dataTable();
			setSidebarHeight();
		});
	</script>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div th:replace="/admin/include/footer :: footer"></div>
</body>
</html>