<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/include/head :: head"></head>
<body>
<div class="container_12">
    <div th:replace="/admin/include/header :: header"></div>
    <div class="clear"></div>
    <div th:replace="/admin/include/header :: navbar"></div>
    <div class="clear"></div>
    <div th:replace="/admin/include/sidebar :: sidebar"></div>
<div class="grid_10">
    <div class="box round first grid">
        <h2>Change Password</h2>
        <div class="block">               
         <form>
            <table class="form">					
                <tr>
                    <td>
                        <label>Old Password</label>
                    </td>
                    <td>
                        <input type="password" placeholder="Enter Old Password..."  name="title" class="medium" />
                    </td>
                </tr>
				 <tr>
                    <td>
                        <label>New Password</label>
                    </td>
                    <td>
                        <input type="password" placeholder="Enter New Password..." name="slogan" class="medium" />
                    </td>
                </tr>
				 
				
				 <tr>
                    <td>
                    </td>
                    <td>
                        <input type="submit" name="submit" Value="Update" />
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div th:replace="/admin/include/footer :: footer"></div>
</body>
</html>