<div class="item">
    <div class="product-item">
        <div class="product-img " style="border: none;">
            <div class="product-sale" style="background: #f03737;">
                <span>-10%</span>
            </div>
            <a th:href="@{/client/detail}"><img style="max-height: 240px;" class="" th:src="@{/resources/uploads/0e2667487b.gif}"></a>
            <div class="button-add d-none d-md-flex">
                <button title="Thêm vào giỏ" data-tooltip="Thêm vào giỏ hàng" onclick=""><i class="fa-solid fa-cart-plus"></i></button>
                <a th:href="@{/client/detail}" data-tooltip="Chi tiết"><i class="fa-regular fa-eye"></i></a>
            </div>
        </div>
        <div class="product-detail">
            <h3 class="pro-name"><a th:href="@{/client/detail}" title="">ffffff</a></h3>
            <p class="pro-price">
            <p class="pro-price">
                <span class="current-price">90.000₫</span>
                <del class="compare-price">100.000₫</del>
            </p>
        </div>
    </div>
</div>