<head th:fragment="head">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="_csrf" th:if="${_csrf != null}" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:if="${_csrf != null}" th:content="${_csrf.headerName}"/>
<title>Dahita - Sách Truyện Online</title>
<link rel="icon" th:href="@{/resources/images/frontend/ic_logo.png}">
<link rel="stylesheet" th:href="@{/resources/css/frontend/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/resources/css/frontend/bootstrap.css}">
<link rel="stylesheet" th:href="@{/resources/css/frontend/style.css}">
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css}">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

<link rel="stylesheet" th:href="@{/resources/assets/owlcarousel/assets/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/resources/assets/owlcarousel/assets/owl.theme.default.min.css}">
<script th:src="@{/resources/assets/vendors/jquery.min.js}"></script>
<script th:src="@{/resources/assets/owlcarousel/owl.carousel.js}"></script>

<script type="text/javascript" th:src="@{/resources/js/frontend/sub-menu.js}" defer></script>

</head>